/*Estilos Globales*/
html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    background-color: rgb(24, 126, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Regular',sans-serif;
}

h1{
    color: #fff;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #b8b0b0;
    font-size: 16px;
    margin-right: 20px;
}

input{
    border: none;
    border-radius: 10px;
    padding: 3px;
}

input:focus{
    outline: none;
}

button{
    border: none;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #304244;
    color: #fff;
}

/*Estilos del login*/
label{
    color: #fff;
}

form p{
    margin-top: 30px;
}

form input{
    height: 20px;
}

form button{
    width: 55%;
    height: 30px;
    font-size: 18px;
    margin: 10% 0 0 12%;
}

/*Estilos de clases*/
.box{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 60%;
    background: linear-gradient(rgb(24, 126, 126) 20%, rgb(48, 194, 194) 80%);
    box-shadow: 0 10px 15px 6px rgba(0, 0, 0, 0.3);
}

.topbar{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.caja{
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-behavior: smooth;
    margin-left: 40px;
}

.caja div{
    color: #7e5518;
}

.enviar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

/*Estilos a elementos*/
#input-enviar{
    margin-left: 20px;
    width: 80%;
    height: 50%;
    padding: 3px;
}

#btn-enviar{
    margin-right: 20px;
    width: 12%;
    height: 65%;
}